
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wprowadziłeś błędne dane</h1>
<div class="text-left">
    <a asp-action="Login">Wróć do ekranu logowania</a>
</div>

