@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
    <h1>Logowanie do bazy danych</h1>
    <h3>Kliknij przycisk aby się zalogować</h3>
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login"><h1 class="btn btn-primary">Logowanie</h1></a>
    </div>
