@model users.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>

<h4>Użytkownika</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="u_Code" class="control-label"></label>
                <input asp-for="u_Code" class="form-control" />
                <span asp-validation-for="u_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_Name" class="control-label"></label>
                <input asp-for="u_Name" class="form-control" />
                <span asp-validation-for="u_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_ForeignCode" class="control-label"></label>
                <input asp-for="u_ForeignCode" class="form-control" />
                <span asp-validation-for="u_ForeignCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_Type" class="control-label"></label>
                <select asp-for="u_Type" class="form-control">
                    <option value="0">Przedstawiciel handlowy</option>
                    <option value="1">Zwykły użytkownik</option>
                    <option value="2">Dyrektor regonalny</option>
                    <option value="3">Administrator</option>
                </select>
                <span asp-validation-for="u_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_Pwd" class="control-label"></label>
                <input asp-for="u_Pwd" class="form-control" />
                <span asp-validation-for="u_Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="u_DefaultLanguage" class="control-label"></label>
                <select asp-for="u_DefaultLanguage" class="form-control">
                    <option value="0">Język polski</option>
                    <option value="1">Język angielski</option>
                    <option value="2">Język czeski</option>
                </select>
                <span asp-validation-for="u_DefaultLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="u_Active" type="hidden" value="1" />
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
